.theme-change-btn{
    @apply border;
    border: 1px solid var(--secondary-bg-color);
    width: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.active{
    
}
.non-active{

}
.dark.active{
    background: rgb(46, 0, 130);
    color: white;
}
.dark.non-active{
    color: gray;

}
.light.active{
    background: rgb(226, 192, 1);
    color: rgb(255, 255, 255);
}
.light.non-active{
    color: gray;
}