/* Global CSS variables */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-color: rgb(0, 119, 119);
  --secondary-color: rgb(1, 150, 150);
  --main-bg-color: lightgray;
  --secondary-bg-color: rgb(194, 194, 194);
  --main-text-color: rgb(39, 39, 46);
}
.dark{
  --main-bg-color: rgb(39, 39, 46);
  --secondary-bg-color: rgb(75, 75, 88);
  --main-text-color: rgb(198, 198, 199);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
