@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* Global CSS variables */

:root {
  --primary-color: rgb(0, 119, 119);
  --secondary-color: rgb(1, 150, 150);
  --main-bg-color: rgb(228, 225, 225);
  --secondary-bg-color: rgb(231, 230, 230);
  --main-text-color: rgb(39, 39, 46);
  --main-gradient: linear-gradient(45deg, rgba(171,60,5,1) 17%, rgba(0,168,126,1) 100%);
}
.dark{
  --main-bg-color: rgb(39, 39, 46)!important;
  --secondary-bg-color: rgb(59, 59, 70)!important;
  --main-text-color: rgb(198, 198, 199)!important;
}


